.carousel {
  /* overflow: hidden; */
  border: 2px solid red;
}

.carousel .slider {
  position: relative;
}

.carousel .slider .slice {
  float: left;
}

.carousel .slider .slice img {
  display: block;
}